<h1>Capture Image</h1>

<%= form_with model: [@invoice, @check], url: invoices_path, local: true, html: { multipart: true, data: { controller: "webcam" } } do |f| %>
  <div data-controller="webcam">
    <img id="preview" data-webcam-target="preview" style="display: none; width: 320px; height: 240px; margin-top: 10px;">
    <div id="my_camera" data-webcam-target="camera"></div>

    <button class="btn btn-primary" type="button" id="start-webcam"
            data-action="click->webcam#start"
            data-webcam-target="start">Capture Image</button>

    <button class="btn btn-success" type="button" id="take-snapshot"
            data-action="click->webcam#capture"
            data-webcam-target="snapshot" style="display: none;">Take Snapshot</button>

    <button class="btn bg-warning" type="button" id="retake"
            data-action="click->webcam#retake"
            data-webcam-target="retake" style="display: none;">Retake</button>


    <input type="hidden" name="check[image]" id="image-data" data-webcam-target="imageData" required>

  </div>


  <label>Invoice Number</label>
  <%= f.text_field :invoice_number, name: "invoice[number]", placeholder: "Enter Invoice Number", required: true %>
  <br>

  <label>Company</label>
  <%= f.select :company_id, Company.all.collect { |c| [c.name, c.id] }, name: "company_id", prompt: "Select Company", required: true %>
  <br>

  <label>Check Number</label>
  <%= f.text_field :check_number, name: "check[number]", placeholder: "Enter Check Number", required: true %>
  <br>

  <%= f.submit "Submit" %>
<% end %>
