<!DOCTYPE html>
<html>
<head>
  <title>Rails App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body>

  <%= render "layouts/navbar" %>
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close">
      </button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close">
      </button>
      <%= alert %>
    </div>
  <% end %>

<!-- Page Content -->
  <div class="container ">
    <%= yield %>
  </div>
</body>
</html>
